<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

</beans>

<!--<mapper namespace = "com.CMD.CMD_pro.board.mapper.SurveyMapper">-->
<!--<sql id="search">-->
<!--<choose>-->
<!--    <when test="progressing == null or progressing.isEmpty()">-->
<!--        AND progressing = 1-->
<!--    </when>-->
<!--    <otherwise>-->
<!--        AND progressing = #{progressing}-->
<!--    </otherwise>-->
<!--</choose>-->
<!--<if test="search != null and !search.isEmpty()">-->
<!--    <bind name="pattern" value="'%' +  search  + '%'" />&lt;!&ndash; SearchCriteria.keyword로 -->
<!--				넘어옴 &ndash;&gt;-->
<!--    <choose>-->
<!--        <when test="type eq 'writer'">-->
<!--            AND name LIKE #{ pattern }-->
<!--        </when>-->
<!--        <when test="type eq 'title'">-->
<!--            AND title LIKE #{ pattern } OR content LIKE #{ pattern }-->
<!--        </when>-->
<!--    </choose>-->
<!--</if>-->

<!--</mapper>-->