<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CMD.CMD_pro.user.mapper.UserMapper">
    <insert id="userJoin" parameterType="com.CMD.CMD_pro.user.domain.UserVO">
        insert into users
        values
            (#{userIndex},#{userId},#{userPwd},#{userName},#{userAge},#{userMajor},#{userEmail},#{userGender},#{userProfile},#{userManage})
    </insert>

    <select id="idChk" parameterType="String" resultType="int">
        select count(*) from users where user_id = #{userId}
    </select>

</mapper>