<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<script type="text/javascript">
    function submitAction(){
        if($("#userID").val() == ""){
            alert("아이디를 입력해주세요.");
            $("#userID").focus();
            return false;
        }
        if($("#userPassword").val() == ""){
            alert("비밀번호를 입력해주세요.");
            $("#userPassword").focus();
            return false;
        }

    }

</script>
<body>
<form action="/LoginAction" method="post" onsubmit="return submitAction();">

    <h4>로그인 양식</h4>

    <div class="form-group">
        <label for="userID">아이디</label>
        <input type="text" id="userID" name="user_id" placeholder="아이디"><br>
        <label for="userPassword">비밀번호</label>
        <input type="password" id="userPassword" name="user_pwd" placeholder="비밀번호"><br>

        <input type="submit" id="submit" name="submit" value="로그인" >
    </div>
    <div th:if="${session.id != null}">이미 로그인 되어있습니다.</div>

</form>
</body>
</html>