<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/libs/css/bootstrap.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/libs/js/bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function (){
            $("li:not(:has( a ))").css("display","none");
        });
        function submitAction(){
            if($("#search_option").val() != "writer"&& $("#search_option").val() != "subject"
                && $("#search_option").val() != "content" && $("#search_option").val() != "all"){
                alert("검색옵션을 선택해주세요.");
                $("#search_option").focus();
                return false;
            }
        }
    </script>
    <style>
        tr td:first-child,
        tr th:first-child {
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
        }
        tr td:last-child,
        tr th:last-child {
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
        }
        .dropdown-menu-right {display: none;}
        .dropdown li:hover > ul {display: block;}

    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
            <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/main">CMD</a>
    </div>
    <div class="collapse navbar-collapse"
         id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="/main">메인</a></li>
            <li class="dropdown"><a href="#" class="dropdown-toggle"
                                    data-toggle="dropdown" role="button" aria-haspopup="true"
                                    aria-expanded="false">커뮤니티<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                            role="button" aria-haspopup="true"
                                            aria-expanded="false">자유 게시판</a>
                        <ul class="dropdown-menu-right">
                            <li><a href="/board?kind=자유게시판&realm=백엔드">백엔드</a></li>
                            <li><a href="/board?kind=자유게시판&realm=프론트엔드">프론트엔드</a></li>
                            <li><a href="/board?kind=자유게시판&realm=인공지능">인공지능</a></li>
                            <li><a href="/board?kind=자유게시판&realm=보안">보안</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                            role="button" aria-haspopup="true"
                                            aria-expanded="false">질문 게시판</a>
                        <ul class="dropdown-menu-right">
                            <li><a href="/board?kind=질문게시판&realm=백엔드">백엔드</a></li>
                            <li><a href="/board?kind=질문게시판&realm=프론트엔드">프론트엔드</a></li>
                            <li><a href="/board?kind=질문게시판&realm=인공지능">인공지능</a></li>
                            <li><a href="/board?kind=질문게시판&realm=보안">보안</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                            role="button" aria-haspopup="true"
                                            aria-expanded="false">정보&팁 게시판</a>
                        <ul class="dropdown-menu-right">
                            <li><a href="/board?kind=정보팁게시판&realm=백엔드">백엔드</a></li>
                            <li><a href="/board?kind=정보팁게시판&realm=프론트엔드">프론트엔드</a></li>
                            <li><a href="/board?kind=정보팁게시판&realm=인공지능">인공지능</a></li>
                            <li><a href="/board?kind=정보팁게시판&realm=보안">보안</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                            role="button" aria-haspopup="true"
                                            aria-expanded="false">협업 게시판</a>
                        <ul class="dropdown-menu-right">
                            <li><a href="/board?kind=협업게시판&realm=백엔드">백엔드</a></li>
                            <li><a href="/board?kind=협업게시판&realm=프론트엔드">프론트엔드</a></li>
                            <li><a href="/board?kind=협업팁게시판&realm=인공지능">인공지능</a></li>
                            <li><a href="/board?kind=협업게시판&realm=보안">보안</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <ul th:if="${session.id == null}" class="nav navbar-nav navbar-right">
            <li class="dropdown"><a href="#" class="dropdown-toggle"
                                    data-toggle="dropdown" role="button" aria-haspopup="true"
                                    aria-expanded="false">회원관리<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/login">로그인</a></li>
                    <li><a href="/join">회원가입</a></li>
                </ul>
            </li>
        </ul>
        <ul th:if="${session.id != null}" class="nav navbar-nav navbar-right">
            <li class="dropdown"><a href="#" class="dropdown-toggle"
                                    data-toggle="dropdown" role="button" aria-haspopup="true"
                                    aria-expanded="false"><span th:text="|${session.id}님|"></span><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/logoutAction">로그아웃</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h2 th:text="|${kind}-${realm}|"></h2>
    <form action="/search_list" method="post" onsubmit="return submitAction();">
        <select name="search_option" id="search_option">
            <option value="" selected disabled hidden>선택해주세요</option>
            <option value="writer" >작성자</option>
            <option value="subject">제목</option>
            <option value="content">내용</option>
            <option value="all">작성자+제목+내용</option>
        </select>
        <input type="hidden" name="kind" id="kind" th:value="${kind}">
        <input type="hidden" name="realm" id="realm" th:value="${realm}">
        <input type="text" name="keyword" id="keyword" placeholder="검색" th:value="${keyword}">
        <input type="submit" value="조회">
    </form>
</div>

<div class="container">
    <div>
        <table style="text-align: center; border: 1px solid #dddddd" width="90%">
            <thead>
            <tr>
                <th>글 번호</th>
                <th>글 작성자</th>
                <th>글 제목</th>
                <th>날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${board}">
                <td><a th:href="@{/view(bno=${board.bno},kind=${kind},realm=${realm})}" th:text="${board.subject}"></a></td>
                <td th:text="${board.writer}"></td>
                <td th:text="${board.reg_date}"></td>
                <td th:if="${board.notice == 1}" style="color: red;">공지글</td>
            </tr>
            </tbody>
        </table>
    </div>
    <button type="button" th:onclick="'location.href=\''+@{/write(kind=${kind},realm=${realm})}+'\''">글쓰기</button>

    <div style="display: block; text-align: center;">
        <ul class="pagination" style="margin: 0 auto;">
            <li th:if="${startPage != 1}"><a th:href="@{/search_list(pageNumber=${startPage} - 1,search_option=${search_option},keyword=${keyword},kind=${kind},realm=${realm})}">&lt;</a></li>
            <li th:if="${startPage == 1}"><a style="color: gray;">&lt;</a></li>
            <li th:if="${startPage >0 and page != 1 and page > startPage}" th:each="idx,iterStat : ${#numbers.sequence(startPage, page - 1)}">
                <a th:if="${idx > 0 and page != 1}" th:href="@{/search_list(pageNumber=${idx},search_option=${search_option},keyword=${keyword},kind=${kind},realm=${realm})}" th:text="${idx}"> </a>
            </li>
            <li><a th:href="@{/search_list(pageNumber=${page},search_option=${search_option},keyword=${keyword},kind=${kind},realm=${realm})}" th:text="${page}" style="background-color: #006DCC;"></a></li>
            <li th:if="${count > 0}" th:each="idx,iterStat : ${#numbers.sequence(page + 1, target2 + page )}" >
                <a th:if="${idx < startPage + 10 and idx > page}" th:href="@{/search_list(pageNumber=${idx},search_option=${search_option},keyword=${keyword},kind=${kind},realm=${realm})}" th:text="${idx}"></a>
            </li>
            <li th:if="${target2 >= 1 and target2 + page > startPage + 9}">
                <a th:href="@{/search_list(pageNumber=${startPage + 10},search_option=${search_option},keyword=${keyword},kind=${kind},realm=${realm})}">></a>
            </li>
            <li th:if="${target2 + page <= startPage + 9}">
                <a style="color: gray;">></a>
            </li>
        </ul>
    </div>


</div>


</body>
</html>