<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/libs/css/bootstrap.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/libs/js/bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function (){
            if($('#filename').val() != 'no'){
                $('#files').css("visibility","hidden");
            }
        });
        function deleteFile(){

            $.ajax({
                url: "/fileDelete",
                type: "POST",
                dataType: "json",
                data: { bno : $("#bno").val()}
            });

            $('#files').css("visibility","visible");
            $('#clip').css("display","none");
            $('#file').css("display","none");
            $('#delete').css("display","none");

        }
    </script>
</head>
<body>
<div class="container">
    <div>
        <table>
            <thead>
            </thead>
            <tbody>
            <form action="/UpdateAction" method="post" enctype="multipart/form-data">

                <tr>글 번호:<input type="number" th:value="${board.bno}" id="bno" name="bno"/></tr>
                <tr>글 제목:<input type="text" th:value="${board.subject}" id="subject" name="subject"/><br></tr>
                <tr><label for="content">내용</label><br></tr>
                <tr><textarea th:text="${board.content}" id="content" name="content" rows="10" maxlength="2048"  style="width: 80%" ></textarea><br></tr>
                <input type="hidden" name="kind" id="kind" th:value="${board.kind}">
                <input type="hidden" name="realm" id="realm" th:value="${board.realm}">
                <div>
                    <input type="file" name="files" id="files">
                </div>
                <img id="clip" th:if="${!filename.equals('no')}" src="/img/clip.png" style="width:13px; margin-top: 3px; margin-right: 5px;"><a id="file" th:if="${!filename.equals('no')}" th:text="${filename}"></a><button th:if="${!filename.equals('no')}" id="delete" name="delete" type="button" onclick="deleteFile();">파일삭제</button>
                <input type="hidden" name="filename" id="filename" th:value="${filename}">
                <button type="submit">수정완료</button>

            </form>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>